.about {
    background: var(--white);
    padding: 80px 20px;
    color: var(--text-color);
    text-align: center;
}

.about h2 {
    font-size: var(--heading-font-size);
    margin-bottom: 20px;
    color: var(--primary-color);
}

.about p {
    font-size: var(--paragraph-font-size);
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.8;
}

.about p strong {
    color: var(--secondary-color);
}

@media (max-width: 768px) {
    .about h2 {
        font-size: 2em;
    }

    .about p {
        font-size: 1em;
    }
}
