.about {
    background-color: var(--background-color);
}

.about h2 {
    font-size: 2.5em;
}

.about p {
    font-size: 1.2em;
    max-width: 800px;
    margin: 0 auto;
}

@media (max-width: 768px) {
    .about h2 {
        font-size: 1.5em;
    }

    .about p {
        font-size: 1em;
    }
}
