.about {
    background: linear-gradient(135deg, var(--light-gray), var(--white));
    padding: 60px 20px;
    font-family: var(--font-family);
    color: var(--deep-blue);
    text-align: center;
    border-radius: 10px;
}

.about h2 {
    font-size: var(--heading-font-size);
    margin-bottom: 20px;
    color: var(--primary-color);
}

.about p {
    font-size: var(--paragraph-font-size);
    max-width: 900px;
    margin: 0 auto;
    line-height: 1.6;
    color: var(--text-color);
}

.about p strong {
    color: var(--accent-green);
}

@media (max-width: 768px) {
    .about h2 {
        font-size: 2em;
    }

    .about p {
        font-size: 1em;
    }
}
