/* globals.css */
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

:root {
    --primary-color: #ff9900; /* Amazon Yellow */
    --secondary-color: #232f3e; /* Deep Blue */
    --accent-green: #00a859; /* Accent Green */
    --background-color: #f2f2f2; /* Light Gray */
    --text-color: #333333; /* Dark Text */
    --white: #ffffff;
    --font-family: "Fjalla One", sans-serif;
    --button-padding: 12px 24px;
    --heading-font-size: 2.8em;
    --subheading-font-size: 2em;
    --paragraph-font-size: 1.2em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: var(--text-color);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-color);
    margin: 20px 0;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: var(--secondary-color);
}

button {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

button:hover {
    transform: scale(1.05);
}

.container {
    padding: 0 20px;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding: 60px 20px;
    text-align: center;
}

footer {
    background-color: var(--secondary-color);
    color: var(--white);
    padding: 20px 0;
    text-align: center;
}

footer a {
    color: var(--white);
}

@media (max-width: 768px) {
    section {
        padding: 40px 15px;
    }

    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.5em;
    }

    .container {
        padding: 0 15px;
    }
}
