:root {
    --primary-color: #ff9900; /* Amazon yellow */
    --deep-blue: #232f3e;
    --white: #ffffff;
    --accent-green: #00a859;
    --font-family: "Roboto", sans-serif;
    --heading-font-size: 2.5em;
    --subheading-font-size: 1.8em;
    --text-font-size: 1.1em;
    --border-radius: 8px;
    --shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.services {
    padding: 80px 20px;
    background-color: var(--white);
    font-family: var(--font-family);
    color: var(--deep-blue);
    text-align: center;
}

.heading {
    font-size: var(--heading-font-size);
    color: var(--primary-color);
    margin-bottom: 30px;
}

.serviceList {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.service {
    flex: 1;
    min-width: 280px;
    background-color: var(--white);
    padding: 20px;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
    text-align: left;
    margin-bottom: 30px;
}

.service:hover {
    transform: translateY(-8px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.serviceTitle {
    color: var(--primary-color);
    font-size: var(--subheading-font-size);
    margin-bottom: 15px;
}

.serviceDescription {
    font-size: var(--text-font-size);
    line-height: 1.6;
    color: var(--deep-blue);
    margin-bottom: 20px;
}

.contactButton {
    display: inline-flex;
    align-items: center;
    background-color: var(--accent-green);
    color: var(--white);
    padding: 10px 20px;
    border-radius: var(--border-radius);
    font-size: 1.2em;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.contactButton:hover {
    background-color: #006e3d;
}

.contactButton img {
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

@media (max-width: 768px) {
    .service {
        flex: 1 1 100%;
    }

    .heading {
        font-size: 2.2em;
    }
}
